/* $desktop:1200px;-xl
$laptop:992px;-lg
$tablet:768;-md
$phone:480;-sm */
*,*::after,*::before{
    padding: 0;
    margin: 0;
    outline:0;
}
body{
    background-color: #FFFFFF;
    /* height: 100vh;
    width: 100vw; */
}
nav{
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
    margin-left: 30px;
}
.nav-items{
    display: flex;
    justify-content: space-around;
    /* border: 2px solid; */
    width: 500px;
    align-items: top;
    font-size: 22px;
}
.nav-item{
    font-weight: 100;
    font-family: 'Poppins';
    
}
.active-item{
    color: #FE5E35;
    font-weight: 900 !important;
}

img[alt="logo"]{
   height: 37px;
}
img[alt="actions"]{
    height: 40px;
    align-items: flex-start;
}
/* media query */
@media screen and (max-width:992px){
    .nav-items{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 2px;
    }
    nav{
        padding-top: 20px;
        flex-direction: column;
        justify-content: center;
        margin-right: 0;
        align-items: center;
        width: 80px;
        margin: 0 auto;
    }
    img[alt="logo"]{
        margin-bottom: 2px;
     }
    
}
.intro-section{
    width: 100%;
    display: flex;
    font-family: 'Poppins';
}
/* media query */
@media screen and (max-width:992px){
    .intro-section{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0;
        padding-top: 0;
    }
}
.left-section{
    /* border: 2px solid; */
    /* height: 100%; */
    margin-left: 30px;
    margin-top: 100px;
}
img[alt="circles"]{
    display: inline-block;
    height: 35px;
    /* margin-top: 10px; */
}
/* media query */
@media screen and (max-width:992px){
    .left-section{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}
.left-section>h3{
    font-size: 35px;
    font-weight: 500;
}
.left-section>h1{
    font-family: 'Fredoka One';
    font-size: 65px;
}
img[alt="plus"]{
    /* display:inline-block;  */
    position: relative;
    top: 7px;
    height: 15px;
    padding: 6px 6px;
    border: none;
    border-radius: 20px;
    background-color: #FE5E35;
    margin:0 15px 0 0;
    
}
.sub-headlines{
    vertical-align: middle;
    margin: 30px 0 30px 100px;
}
.sub-headline{
    font-size: 21px;
    font-weight: 500;
    height: 50px;
    vertical-align:top;
}
.text{
    font-size: 12px;
    width: 600px;
    color: #58515165;
    margin-bottom: 40px;
}
.action-btn{
    font-family: 'Poppins';
    font-weight:500;
    color: #FFFFFF;
    background-color: #FE5E35;
    border: none;
    font-size: 17px;
    padding: 10px 20px;
    border-radius: 40px;
    margin-right: 20px;
}
/* media query */
@media screen and (max-width:992px){
    .sub-headlines{
        margin: 0;
        margin-left: 50px;
        font-size: 15px;
    }
    .left-section>h1{
        width: 100%;
        text-align: center;
        font-size: 40px;
    }
    .left-section>h3{
        font-size: 25px;
        text-align: center;
        width: 100%;
    }
    .text{
        text-align: center;
        max-width: 400px;
    }
}


.right-section{
    position: relative;
    top:-20px;
}
img[alt="headphone"]{
    height: 450px;
    position: absolute; 
    top: 30px;
    left:110px;
    z-index: -1;
}

.discount{
    position: absolute;
    top: 50%;
    left: 46%;
}
.discount{
    height: 130px;
    /* z-index: 10; */
    filter: drop-shadow(4px 6px 1px rgba(0, 0,0 ,0.3));
}
.discount-content{
    position: absolute;
    color: #FFFFFF;
    top: 55%;
    left:60%;
    font-family: 'Fredoka One';
}
.discount-content h4{
    font-size: 11.5px;
    margin-left: 15px;

}
.discount-content h1{
    font-size: 45px;
    margin-right: 30px;
}
.dots{
    position: absolute;
    bottom: 60px;
    left: 250px;
    /* border:2px solid; */
    width:100%;
    display: flex;
    justify-content: space-evenly;
}
.dots>div{
    padding: 11px;
    border-radius: 11px;
    border: none;
    background-color: black;
}
.yellow-dot{
    background-color: #FBD104 !important;
}
.tomato-dot{
    background-color: #FE5E35 !important;
}
.right-section .action-btn{
    position: relative;
    top:96%;
    left: 160%;
}
/* media query */
@media screen and (max-width:992px){
    .right-section{
        position: static;
        align-items: center;
        display: flex;
        flex-direction: column;
        padding-bottom: 20px;
        padding-left: 60px;
    }
    img[alt="headphone"]{
        position: static;
        margin-top: 25px;
        max-height: 400px;
    }
.headphone-div{
    position: relative;
    
}
.discount{
    max-height: 120px;
    left:-25px;
    top:60%;
}
.discount-content{
    top: 65%;
    left:0;
    font-size: smaller;
}
.dots{
    position: static;
    justify-content: center;
    gap: 25px;
    align-items: center;
    margin-bottom: 15px;
}
.right-section .action-btn{
    position:static;
    margin: 0 auto;
}

}